In [8]:
import pandas as pd
bom = pd.read_csv("bom.movie_gross.csv")

df1 = pd.read_csv("./bom.movie_gross.csv")
df1.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [9]:
df1.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [10]:
#check the missing data
bom.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [11]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [12]:
bom['foreign_gross'] = pd.to_numeric(bom['foreign_gross'], errors='coerce')

In [13]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2032 non-null   float64
 4   year            3387 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

In [14]:
bom.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1355
year                 0
dtype: int64

In [15]:
bom['foreign_gross'] = bom['foreign_gross'].fillna(bom['foreign_gross'].mean())
bom['domestic_gross'] = bom['domestic_gross'].fillna(bom['domestic_gross'].mean())

In [16]:
bom= bom.dropna()

In [17]:
bom.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64

In [18]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3382 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3382 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3382 non-null   float64
 3   foreign_gross   3382 non-null   float64
 4   year            3382 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 158.5+ KB

In [19]:
rt_movie = pd.read_table("rt.movie_info.tsv")

In [20]:
rt_movie

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [21]:
rt_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [22]:
rt_movie.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [23]:
rt_movie['runtime'] = rt_movie['runtime'].str.replace('minutes', '',regex=False)

In [24]:
rt_movie['runtime']

0       104
1       108
2       116
3       128
4       200
        ...
1555    106
1556     88
1557    111
1558    101
1559     94
Name: runtime, Length: 1560, dtype: object

In [25]:

rt_movie['runtime'] = pd.to_numeric(rt_movie['runtime'], errors='coerce')

In [26]:
rt_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   float64
 11  studio        494 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 146.4+ KB

In [27]:
rt_movie['runtime'].value_counts()

runtime
90.0     72
95.0     66
100.0    51
93.0     47
96.0     43
         ..
154.0     1
166.0     1
33.0      1
54.0      1
290.0     1
Name: count, Length: 142, dtype: int64

In [28]:

rt_movie['runtime'] = rt_movie['runtime'].fillna(rt_movie['runtime'].mode()[0])

In [29]:
rt_movie['runtime'].value_counts()

runtime
90.0     102
95.0      66
100.0     51
93.0      47
96.0      43
        ...
154.0      1
166.0      1
33.0       1
54.0       1
290.0      1
Name: count, Length: 142, dtype: int64

In [30]:
rt_movie.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime            0
studio          1066
dtype: int64

<ol>
      <p> This dataset will answer question to do with revenue ? <p>
       <li> What movie will make most of the money ? correlation between 
       year and domestic gross or foreign gross vs year or studio</li>
</ol>

In [31]:
df2 = """ 
         SELECT name
         FROM SQLITE_MASTER
      """

In [32]:
col_0 = pd.read_sql("PRAGMA table_info(movie_basics);", conn)
col_1 = pd.read_sql("PRAGMA table_info(directors);", conn)
col_2 = pd.read_sql("PRAGMA table_info(known_for);", conn)
col_3 = pd.read_sql("PRAGMA table_info(movie_akas);", conn)
col_4 = pd.read_sql("PRAGMA table_info(movie_ratings);", conn)
col_5 = pd.read_sql("PRAGMA table_info(persons);", conn)
col_6 = pd.read_sql("PRAGMA table_info(principals);", conn)
col_7 = pd.read_sql("PRAGMA table_info(writers);", conn)

col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7

(Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [])

<ol>
    <li> Does genre make movie to have a higher rating ? </li>
       <p> genre vs ratings  <p>
    <li> Does movie the language affect movie ratings >? </li>
        <p> language vs ratings <p>
<ol>

In [35]:
df3 = pd.read_table("./rt.movie_info.tsv")
df3.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [36]:
df3.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

<ol>
<li> Does genre make movie to have a higher rating ? </li>
<p> genre vs ratings <p>

<li> Does director have any impact on ratings? </li>
    <p> ratings vs director <p>

<li> how do form watched affect movie ratings </li>    
<p> Movies watches in theater vs movie watched in dvd. <p>
</ol>

In [38]:
df4 = pd.read_table("./rt.reviews.tsv" , encoding="latin1")
df4.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [39]:
import pandas as pd
df_tmdb = pd.read_csv("tmdb.movies.csv")
df_tmdb.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [40]:
df_tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [41]:
df_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [42]:
# check for duplicates
df_tmdb.duplicated().sum()

0

In [43]:
df_tmdb["genre_ids"].value_counts().sort_index(ascending=False)

genre_ids
[]                               2479
[99]                             3700
[99, 99]                            2
[99, 99, 99]                        1
[99, 9648]                          4
                                 ...
[10402, 10751, 14, 10770, 35]       1
[10402, 10749]                      3
[10402, 10749, 35]                  2
[10402, 10749, 35, 18]              3
[10402, 10749, 18]                  2
Name: count, Length: 2477, dtype: int64

<ol>
    <li> Does language affect popularity ? </li>
       <p> original language vs populaity and vote count  <p>
    <li> Does release date increase popularity ? </li>
        <p> Release date vs popularity <p>
<ol>

In [44]:
df6 = pd.read_csv("./tn.movie_budgets.csv")
df6.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [45]:
df6.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

<ol>
    <p> Does production affect revenue? <p>
       <li> Budget vs domestic gross and worlswide gloss </li>
    <p> Does release date increase revenue>? <p>
        <li> Release date vs domestic gross and worlswide gloss </li>
<ol>

## The Business Question? 
### What types of movies perform best financially, and what characteristics do they share?