In [3]:
import pandas as pd

df1 = pd.read_csv("bom.movie_gross.csv")
df1.columns

RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [4]:
df1.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

<ol>
      <p> This dataset will answer question to do with revenue ? <p>
       <li> What movie will make most of the money ? correlation between 
       year and domestic gross or foreign gross vs year or studio</li>
</ol>

In [5]:
import sqlite3 

conn = sqlite3.connect("im.db")

df2 = """ 
         SELECT name
         FROM SQLITE_MASTER
      """
pd.read_sql_query(df2,conn)

Empty DataFrame
Columns: [name]
Index: []

In [6]:
col_0 = pd.read_sql("PRAGMA table_info(movie_basics);", conn)
col_1 = pd.read_sql("PRAGMA table_info(directors);", conn)
col_2 = pd.read_sql("PRAGMA table_info(known_for);", conn)
col_3 = pd.read_sql("PRAGMA table_info(movie_akas);", conn)
col_4 = pd.read_sql("PRAGMA table_info(movie_ratings);", conn)
col_5 = pd.read_sql("PRAGMA table_info(persons);", conn)
col_6 = pd.read_sql("PRAGMA table_info(principals);", conn)
col_7 = pd.read_sql("PRAGMA table_info(writers);", conn)

col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7

(Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [],
 Empty DataFrame
 Columns: [cid, name, type, notnull, dflt_value, pk]
 Index: [])

<ol>
    <li> Does genre make movie to have a higher rating ? </li>
       <p> genre vs ratings  <p>
    <li> Does movie the language affect movie ratings >? </li>
        <p> language vs ratings <p>
<ol>

In [7]:
df3 = pd.read_table("rt.movie_info.tsv")
df3.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [8]:
df3.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

<ol>
<li> Does genre make movie to have a higher rating ? </li>
<p> genre vs ratings <p>

<li> Does director have any impact on ratings? </li>
    <p> ratings vs director <p>

<li> how do form watched affect movie ratings </li>    
<p> Movies watches in theater vs movie watched in dvd. <p>
</ol>

In [9]:
rt_reviews = pd.read_table("rt.reviews.tsv" , encoding="latin1")
rt_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [10]:
rt_reviews.columns

Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')

In [11]:
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [12]:
rt_reviews["rating"] = pd.to_numeric(rt_reviews["rating"], errors='coerce').astype("float64")

In [13]:
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      750 non-null    float64
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 3.3+ MB

In [14]:
rt_reviews.isna().sum()

id                0
review         5563
rating        53682
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

In [15]:
rt_reviews['top_critic'].value_counts()

0    41336
1    13096
Name: top_critic, dtype: int64

In [16]:
rt_reviews_1 = pd.read_table("rt.reviews.tsv" , encoding="latin1")

In [17]:
rt_reviews_1 = rt_reviews_1.dropna()

In [18]:
rt_reviews_1.isna().sum()

id            0
review        0
rating        0
fresh         0
critic        0
top_critic    0
publisher     0
date          0
dtype: int64

In [19]:
rt_reviews_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33988 entries, 0 to 54424
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          33988 non-null  int64
 1   review      33988 non-null  object
 2   rating      33988 non-null  object
 3   fresh       33988 non-null  object
 4   critic      33988 non-null  object
 5   top_critic  33988 non-null  int64
 6   publisher   33988 non-null  object
 7   date        33988 non-null  object
dtypes: int64(2), object(6)
memory usage: 2.3+ MB

In [20]:
rt_reviews_1 = rt_reviews_1.drop_duplicates()
rt_reviews = rt_reviews.drop_duplicates()

In [21]:
rt_reviews_1.duplicated().sum()

0

In [22]:
rt_reviews.duplicated().sum()

0

In [23]:
df5 = pd.read_csv("tmdb.movies.csv")
df5.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [24]:
df5.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [25]:
df5["genre_ids"].value_counts().sort_index(ascending=False)

[]                               2479
[99]                             3700
[99, 99]                            2
[99, 99, 99]                        1
[99, 9648]                          4
                                 ...
[10402, 10751, 14, 10770, 35]       1
[10402, 10749]                      3
[10402, 10749, 35]                  2
[10402, 10749, 35, 18]              3
[10402, 10749, 18]                  2
Name: genre_ids, Length: 2477, dtype: int64

<ol>
    <li> Does language affect popularity ? </li>
       <p> original language vs populaity and vote count  <p>
    <li> Does release date increase popularity ? </li>
        <p> Release date vs popularity <p>
<ol>

In [26]:
#Checks all columns in the file
tnm_budgets = pd.read_csv("tn.movie_budgets.csv")
tnm_budgets.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [27]:
tnm_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [28]:
#Checks the file infomation in summary
tnm_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [29]:
#to check if there is any duplicate
tnm_budgets.duplicated().sum()

0

In [30]:
tnm_budgets['production_budget'].unique()

array(['$425,000,000', '$410,600,000', '$350,000,000', '$330,600,000',
       '$317,000,000', '$306,000,000', '$300,000,000', '$275,000,000',
       '$260,000,000', '$258,000,000', '$250,000,000', '$232,000,000',
       '$230,000,000', '$225,000,000', '$220,000,000', '$217,000,000',
       '$215,000,000', '$210,000,000', '$207,000,000', '$205,000,000',
       '$200,000,000', '$195,000,000', '$190,000,000', '$187,500,000',
       '$186,000,000', '$185,000,000', '$182,000,000', '$180,000,000',
       '$179,000,000', '$178,000,000', '$175,000,000', '$170,000,000',
       '$165,000,000', '$163,000,000', '$160,000,000', '$156,000,000',
       '$155,000,000', '$152,000,000', '$151,500,000', '$151,000,000',
       '$150,000,000', '$149,000,000', '$145,000,000', '$144,000,000',
       '$142,000,000', '$140,000,000', '$139,000,000', '$138,000,000',
       '$137,500,000', '$137,000,000', '$136,200,000', '$135,000,000',
       '$132,900,000', '$132,000,000', '$130,000,000', '$129,000,000',
       '$127,500,000', '$127,000,000', '$125,000,000', '$123,000,000',
       '$120,000,000', '$117,000,000', '$116,000,000', '$115,000,000',
       '$113,500,000', '$112,000,000', '$111,000,000', '$110,000,000',
       '$109,000,000', '$108,000,000', '$106,000,000', '$105,000,000',
       '$104,000,000', '$103,300,000', '$103,000,000', '$102,500,000',
       '$102,000,000', '$100,000,000', '$99,000,000', '$98,000,000',
       '$97,000,000', '$95,000,000', '$94,000,000', '$93,000,000',
       '$92,500,000', '$92,000,000', '$91,000,000', '$90,000,000',
       '$88,000,000', '$87,500,000', '$87,000,000', '$86,000,000',
       '$85,000,000', '$84,000,000', '$82,500,000', '$82,000,000',
       '$81,000,000', '$80,000,000', '$79,300,000', '$79,000,000',
       '$78,000,000', '$77,600,000', '$77,500,000', '$77,000,000',
       '$76,000,000', '$75,000,000', '$74,000,000', '$73,243,106',
       '$73,000,000', '$72,500,000', '$72,000,000', '$71,682,975',
       '$71,500,000', '$70,702,619', '$70,000,000', '$69,000,000',
       '$68,000,000', '$67,500,000', '$67,000,000', '$66,000,000',
       '$65,000,000', '$64,000,000', '$63,700,000', '$63,000,000',
       '$62,000,000', '$61,000,000', '$60,720,000', '$60,000,000',
       '$59,500,000', '$59,000,000', '$58,000,000', '$57,500,000',
       '$57,000,000', '$56,200,000', '$56,000,000', '$55,000,000',
       '$54,000,000', '$53,012,938', '$53,000,000', '$52,500,000',
       '$52,000,000', '$51,000,000', '$50,200,000', '$50,000,000',
       '$49,800,000', '$49,000,000', '$48,000,000', '$47,500,000',
       '$47,000,000', '$46,500,000', '$46,000,000', '$45,500,000',
       '$45,000,000', '$44,500,000', '$44,000,000', '$43,000,000',
       '$42,500,000', '$42,000,000', '$41,000,000', '$40,000,000',
       '$39,000,000', '$38,600,000', '$38,000,000', '$37,500,000',
       '$37,000,000', '$36,500,000', '$36,000,000', '$35,200,000',
       '$35,000,000', '$34,800,000', '$34,000,000', '$33,500,000',
       '$33,000,000', '$32,500,000', '$32,000,000', '$31,500,000',
       '$31,000,000', '$30,250,000', '$30,000,000', '$29,200,000',
       '$29,000,000', '$28,700,000', '$28,500,000', '$28,000,000',
       '$27,500,000', '$27,000,000', '$26,700,000', '$26,000,000',
       '$25,530,000', '$25,500,000', '$25,100,000', '$25,000,000',
       '$24,200,000', '$24,000,000', '$23,600,000', '$23,000,000',
       '$22,700,000', '$22,500,000', '$22,000,000', '$21,600,000',
       '$21,500,000', '$21,000,000', '$20,700,000', '$20,500,000',
       '$20,000,000', '$19,800,000', '$19,700,000', '$19,500,000',
       '$19,400,000', '$19,200,000', '$19,100,000', '$19,000,000',
       '$18,975,000', '$18,900,000', '$18,500,000', '$18,000,000',
       '$17,900,000', '$17,700,000', '$17,500,000', '$17,000,000',
       '$16,800,000', '$16,500,000', '$16,400,000', '$16,000,000',
       '$15,700,000', '$15,600,000', '$15,500,000', '$15,300,000',
       '$15,250,000', '$15,000,000', '$14,600,000', '$14,500,000',
       '$14,400,000', '$14,200,000', '$14,000,000', '$13,900,000',
       '$13,700,000', '$13,500,000', '$13,400,000', '$13,300,000',
       '$13,200,000', '$13,000,000', '$12,800,000', '$12,700,000',
       '$12,600,000', '$12,500,000', '$12,300,000', '$12,000,000',
       '$11,900,000', '$11,800,000', '$11,500,000', '$11,400,000',
       '$11,000,000', '$10,800,000', '$10,750,000', '$10,700,000',
       '$10,600,000', '$10,500,000', '$10,400,000', '$10,350,000',
       '$10,300,000', '$10,100,000', '$10,000,000', '$9,900,000',
       '$9,800,000', '$9,700,000', '$9,600,000', '$9,500,000',
       '$9,400,000', '$9,300,000', '$9,200,000', '$9,100,000',
       '$9,000,000', '$8,900,000', '$8,800,000', '$8,600,000',
       '$8,500,000', '$8,470,000', '$8,400,000', '$8,300,000',
       '$8,250,000', '$8,200,000', '$8,000,000', '$7,900,000',
       '$7,800,000', '$7,700,000', '$7,500,000', '$7,400,000',
       '$7,303,082', '$7,300,000', '$7,250,000', '$7,200,000',
       '$7,000,000', '$6,900,000', '$6,840,000', '$6,800,000',
       '$6,750,000', '$6,700,000', '$6,600,000', '$6,537,890',
       '$6,500,000', '$6,400,000', '$6,250,000', '$6,200,000',
       '$6,100,000', '$6,000,000', '$5,952,000', '$5,900,000',
       '$5,800,000', '$5,700,000', '$5,600,000', '$5,500,000',
       '$5,400,000', '$5,300,000', '$5,250,000', '$5,200,000',
       '$5,100,000', '$5,000,000', '$4,900,000', '$4,833,610',
       '$4,800,000', '$4,750,000', '$4,700,000', '$4,638,783',
       '$4,600,000', '$4,500,000', '$4,400,000', '$4,357,373',
       '$4,300,000', '$4,200,000', '$4,030,000', '$4,000,000',
       '$3,900,000', '$3,800,000', '$3,768,785', '$3,750,000',
       '$3,716,946', '$3,700,000', '$3,600,000', '$3,500,000',
       '$3,450,000', '$3,440,000', '$3,400,000', '$3,380,000',
       '$3,300,000', '$3,250,000', '$3,200,000', '$3,180,000',
       '$3,100,000', '$3,000,000', '$2,931,000', '$2,900,000',
       '$2,883,848', '$2,850,000', '$2,800,000', '$2,777,000',
       '$2,750,000', '$2,700,000', '$2,686,000', '$2,660,000',
       '$2,650,000', '$2,627,000', '$2,600,000', '$2,540,000',
       '$2,500,000', '$2,450,000', '$2,400,000', '$2,380,000',
       '$2,361,000', '$2,300,000', '$2,289,247', '$2,280,000',
       '$2,250,000', '$2,200,000', '$2,160,000', '$2,150,000',
       '$2,100,000', '$2,000,000', '$1,987,650', '$1,950,000',
       '$1,900,000', '$1,800,000', '$1,750,000', '$1,700,000',
       '$1,660,000', '$1,650,000', '$1,644,000', '$1,600,000',
       '$1,577,000', '$1,500,000', '$1,488,000', '$1,455,000',
       '$1,400,000', '$1,377,800', '$1,350,000', '$1,305,000',
       '$1,300,000', '$1,288,000', '$1,250,000', '$1,200,000',
       '$1,150,000', '$1,125,000', '$1,100,000', '$1,070,000',
       '$1,039,000', '$1,000,000', '$989,000', '$950,000', '$930,000',
       '$916,000', '$913,000', '$910,000', '$900,000', '$858,000',
       '$850,000', '$840,000', '$825,000', '$820,000', '$800,000',
       '$780,000', '$777,000', '$775,000', '$750,000', '$747,000',
       '$730,000', '$700,000', '$672,000', '$658,000', '$650,000',
       '$640,000', '$625,000', '$609,000', '$600,000', '$560,000',
       '$558,000', '$550,000', '$546,173', '$500,000', '$475,000',
       '$450,000', '$439,000', '$430,000', '$425,000', '$420,000',
       '$400,000', '$385,907', '$379,000', '$375,000', '$350,000',
       '$340,000', '$325,000', '$323,000', '$312,000', '$300,000',
       '$290,000', '$270,000', '$250,000', '$245,000', '$240,000',
       '$230,000', '$225,000', '$210,000', '$200,000', '$190,000',
       '$180,000', '$175,000', '$170,000', '$168,000', '$160,000',
       '$150,000', '$140,000', '$135,000', '$134,000', '$125,000',
       '$120,000', '$114,000', '$110,000', '$103,000', '$100,000',
       '$87,000', '$79,000', '$75,000', '$70,000', '$68,000', '$66,000',
       '$65,000', '$60,000', '$55,000', '$50,000', '$45,000', '$42,000',
       '$40,000', '$35,000', '$30,000', '$27,000', '$25,000', '$23,000',
       '$22,000', '$20,000', '$17,300', '$15,000', '$12,000', '$10,000',
       '$9,000', '$7,000', '$6,000', '$5,000', '$1,400', '$1,100'],
      dtype=object)

In [31]:
#To convert production budget, domestic gross and worldwide gross from string to interger

#production budget
#tnm_budgets['domestic_gross'].fillna(tnm_budgets['domestic_gross'].mean(), inplace=True)

In [32]:
import pandas as pd
tnm_budgets['production_budget'] = pd.to_numeric(tnm_budgets['production_budget'], errors='coerce').astype(float)

#tnm_budgets['production_budget'].unique()

In [33]:
tnm_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  0 non-null      float64
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 271.2+ KB

<ol>
    <p> Does production affect revenue? <p>
       <li> Budget vs domestic gross and worlswide gloss </li>
    <p> Does release date increase revenue>? <p>
        <li> Release date vs domestic gross and worlswide gloss </li>
<ol>

## The Business Question? 
### What types of movies perform best financially, and what characteristics do they share?